*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.wrapper{
    height: 100%;
}

.left, .right{
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: -1;
}

.left{
    left: 0%;
    width: 0%;
    background: #f8e3e3;
}

.right{
    right: 0%;
    width: 100%;
    background: #E4D3CF;
}

.content{
    display: flex;
    bottom: 0%;
    width: 100%;
    position: absolute;
}

.img{
    height: 62.5rem;
    width: 60%;
    margin-left: 10%;
    &__photo{
        background-image: url("../assets/SNOW_20220711_125420_330.jpeg");
        background-size: cover;
        width: 0%;
        height: 100%;
        background-repeat: no-repeat;
    }
}

.nav{
    position: absolute;
    bottom: 18%;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    font-weight: lighter;
    margin-left: 12rem;
    ul{
        list-style: none;
    }
    li{
        margin-top: 1.85rem;
    }
    a{
        text-decoration: none;
        color: #5E454B;
        position: relative;

        &::before{
            position: absolute;
            left: -7rem;
            top: 50%;
            content: "";
            background: #5E454B;
            width: 0rem;
            height: 2px;
            transition: width 0.4s ease-in-out;

        }

        &:hover{
            font-weight: 900;
            &::before{
                width: 5rem;
            }
        }
    }
}

.row2{
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
}

.text{
    position: absolute;
    color: #5E454B;
    left: -25rem;
    top: 17.5%;

    &__name{
        text-transform: uppercase;
        font-size: 12rem;
    }
    &__subtitle{
        margin-top: -1.5rem;
        font-size: 2.25rem;
        font-family: 'Courier New', Courier, monospace;
    }
}

.name{
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 2px #5E454B;
    left: -120rem;
    top: 17.5%;
    text-transform: uppercase;
    font-size: 12rem;

}