*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #FFE2E2;
    overflow-x: hidden;

}

.top{
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
        font-family: "Tangerine", cursive;
        font-weight: 400;
        font-style: normal;
        color: #7D5A5A;
        letter-spacing: 12px;
        h1{
            font-size: 11rem;
        }
        h2{
            margin-top: 1.5rem;
            font-size: 4.2rem;
            letter-spacing: 3px;
        }
    }
}

.bg{
    height: 90vh;
    background-image: url("../assets/about_ai-upscale.png");
    background-position: center 350px;
    background-size: 130vw;
    background-repeat: no-repeat;
    background-attachment: fixed;

    //animation-range: center -100px center -500px;
    animation: the-animation linear;
    animation-timeline: view();
    animation-iteration-count: 1;

    @keyframes the-animation {
        100%{
            background-size: 100vw;
            background-position: center -450px;
        }
    }
}

.line{
    display: block;
    content: "";
    height: auto;
    width: 2px;
    background: #7D5A5A;
    // transform: scaleY(0);
    // transform-origin: top;
    // transition: transform 0.5s ease-in-out;

    // &.show{
    //     transform: scaleY(1);
    // }

    &--horizontal{
        display: block;
        content: "";
        width: auto;
        height: 2px;
        background: #7D5A5A;
    }
}

.bottom{
    font-family: "Poppins", sans-serif;
    color: #7D5A5A;
    background: #FDEFEF;
    padding: 0 7rem;
    .about-me{
        display: flex;
        padding: 7rem 0;
        .left{
            font-size: 3rem;
            font-weight: 300;
            width: 59%;
            letter-spacing: 0px;
            margin-right: 5rem;
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 41%;
        }
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #7D5A5A;
            font-size: 2.3rem;
            letter-spacing: 1px;
            background: #eac8c8;
            padding: 1rem 3rem;
            transition: background 0.15s ease-in-out;
            margin-bottom: 6rem;
            svg{
                margin-right: 1rem;
            }
            &:hover{
                background: #c89f9f;
                cursor: pointer;
            }
        }
    }

    .edu{
        display: flex;
        padding: 7rem 0;
        &--experience, &--education{
            flex: 1;
            padding: 0 10rem;
            h1{
                text-align: center;
                font-size: 5rem;
                letter-spacing: 4px;
                font-weight: lighter;
                margin-bottom: 5rem;
            }
            ul{
                list-style: none;
                li{
                    margin-bottom: 4.5rem;
                }
            }
            .position, .degree{
                font-size: 2.5rem;
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: .5rem;
            }
            .company, .school{
                font-size: 1.75rem;
                font-weight: 300;
                margin-bottom: 0.5rem;
            }
            .duration, .info{
                font-size: 1.25rem;
            }
        }
    }

    .apps{
        &--logo{
            svg{
                width: 50px;
                height: 50px;
                fill: #7D5A5A;
            }
        }
    }
}

.skills{
    background: #7D5A5A;
    // overflow: hidden;
    margin: 0 -7rem;
    width: 100vw;
    &--container{
        display: flex;
        color: #FDEFEF;
        animation: text-animation linear;
        animation-timeline: view();
        animation-iteration-count: 1;
        @keyframes text-animation {
            100%{
                transform: translateX(-15rem);
            }
        }
    }
    &--text{
        font-size: 12.5rem;
        margin-right: 4rem;
        font-weight: bold;
    }
}

.apps{
    padding: 12rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &--app{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
    }
    &--name{
        font-size: 2.5rem;
        margin: 2rem 0 5rem 0;
    }
}

@media only screen and (max-width: 1150px) {
    .bottom .about-me .left {
        font-size: 2.5rem;
    }

    .bottom .edu{
        &--experience, &--education{
            padding: 0 5rem;
        }
    }
}

@media only screen and (max-width: 900px) {
    .bottom{
        padding: 7rem;
        .about-me, .edu{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .left{
                width: 100%;
                margin-right: 0;
            }
            >*{
                margin: 3rem 0;
            }
        }
    }
    .line{
        height: 2px;
        width: 100%;
        padding: 0;
    }
}